<div class="row mx- mt-4 grid gap-5 d-flex justify-content-center">
  <div class="card col-3" style="width: 18rem; height: auto">
    <img src="../img/Snakeimg.jpeg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Snake</h5>
      <p class="card-text">
        El popular juego de Snake, de los telefonos Nokia, con un toque moderno.
      </p>
      <a href="../pages/Snake.html" class="btn btn-primary">Ir a el juego</a>
    </div>
  </div>

  <div class="card col-3" style="width: 18rem; height: auto">
    <img src="../img/Tetrisimg.jpeg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Tetris retro</h5>
      <p class="card-text">Demuestra que eres el mejor apilando bloques.</p>
      <a href="" class="btn btn-primary">Ir a el juego</a>
    </div>
  </div>

  <div class="card col-3" style="width: 18rem; height: auto">
    <img src="../img/Spaceinvaderimg.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Space invaders</h5>
      <p class="card-text">Salva a la tierra de una invasion alienigena</p>
      <a href="#" class="btn btn-primary">Ir a el juego</a>
    </div>
  </div>

  <div class="card col-3" style="width: 18rem; height: auto">
    <img src="../img/driveimg.webp" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">simulador de conduccion</h5>
      <p class="card-text">
        Un paseo tranquilo por el desierto, no te salgas de la carretera!!!!
      </p>
      <a href="#" class="btn btn-primary">Ir a el juego</a>
    </div>
  </div>
</div>
