<div class="row mx-5 mt-4 grid gap-5 d-flex justify-content-center">
  <div class="card col-3 d-flex flex-column" style="width: 18rem">
    <img src="../img/Snakeimg.jpeg" class="card-img-top" alt="Snake" />
    <div class="card-body d-flex flex-column">
      <div class="mt-auto">
        <h5 class="card-title">Snake</h5>
        <p class="card-text">
          El popular juego de Snake, de los teléfonos Nokia, con un toque
          moderno.
        </p>
        <a href="../pages/Snake.html" class="btn btn-primary">Ir a el juego</a>
      </div>
    </div>
  </div>

  <div class="card col-3 d-flex flex-column" style="width: 18rem">
    <img src="../img/Tetrisimg.jpeg" class="card-img-top" alt="Tetris retro" />
    <div class="card-body d-flex flex-column">
      <div class="mt-auto">
        <h5 class="card-title">Tetris retro</h5>
        <p class="card-text">Demuestra que eres el mejor apilando bloques.</p>
        <a href="" class="btn btn-primary">Ir a el juego</a>
      </div>
    </div>
  </div>

  <div class="card col-3 d-flex flex-column" style="width: 18rem">
    <img
      src="../img/Spaceinvaderimg.png"
      class="card-img-top"
      alt="Space invaders"
    />
    <div class="card-body d-flex flex-column">
      <div class="mt-auto">
        <h5 class="card-title">Space invaders</h5>
        <p class="card-text">Salva a la tierra de una invasión alienígena.</p>
        <a href="#" class="btn btn-primary">Ir a el juego</a>
      </div>
    </div>
  </div>

  <div class="card col-3 d-flex flex-column" style="width: 18rem">
    <img
      src="../img/driveimg.webp"
      class="card-img-top"
      alt="Simulador de conducción"
    />
    <div class="card-body d-flex flex-column">
      <div class="mt-auto">
        <h5 class="card-title">Simulador de conducción</h5>
        <p class="card-text">
          Un paseo tranquilo por el desierto, ¡no te salgas de la carretera!
        </p>
        <a href="#" class="btn btn-primary">Ir a el juego</a>
      </div>
    </div>
  </div>

  <div class="card col-3 d-flex flex-column" style="width: 18rem">
    <img src="../img/Ticktacktoe.png" class="card-img-top" alt="Tik Tak Toe" />
    <div class="card-body d-flex flex-column">
      <div class="mt-auto">
        <h5 class="card-title">Tik Tak Toe</h5>
        <p class="card-text">Gana a todos tus amigos en Tik Tak Toe.</p>
        <a href="#" class="btn btn-primary">Ir a el juego</a>
      </div>
    </div>
  </div>

  <div class="card col-3 d-flex flex-column" style="width: 18rem">
    <img
      src="../img/Adivinaelnumero.webp"
      class="card-img-top"
      alt="Adivina el número"
    />
    <div class="card-body d-flex flex-column">
      <div class="mt-auto">
        <h5 class="card-title">Adivina el número</h5>
        <p class="card-text">Da un número y te diré si es mayor o menor.</p>
        <a href="#" class="btn btn-primary">Ir a el juego</a>
      </div>
    </div>
  </div>

  <div class="card col-3 d-flex flex-column" style="width: 18rem">
    <img src="../img/Simondice.png" class="card-img-top" alt="Simon dice" />
    <div class="card-body d-flex flex-column">
      <div class="mt-auto">
        <h5 class="card-title">Simon dice</h5>
        <p class="card-text">
          Recuerda el patrón y anota la puntuación más alta.
        </p>
        <a href="#" class="btn btn-primary">Ir a el juego</a>
      </div>
    </div>
  </div>

  <div class="card col-3 d-flex flex-column" style="width: 18rem">
    <img
      src="../img/Rompecabezas.jpeg"
      class="card-img-top"
      alt="Rompecabezas"
    />
    <div class="card-body d-flex flex-column">
      <div class="mt-auto">
        <h5 class="card-title">Rompecabezas</h5>
        <p class="card-text">Completa la imagen lo más rápido que puedas.</p>
        <a href="#" class="btn btn-primary">Ir a el juego</a>
      </div>
    </div>
  </div>
</div>
