<nav class="navbar navbar-expand-lg bg-primary fw-semibold">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand text-warning" href="#"
        >FreeJuegosJuegosGratis.com</a
      >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-secondary dropdown-toggle bg-body text-dark"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categorias
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <button class="dropdown-item" type="button">Action</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Adventure</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  Date simulator
                </button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <form class="d-flex mx-1" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-ligth bg-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
